/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

/* Global Styles */
:root {
  --primary-color-nutmeg: hsl(14, 45%, 36%);
  --primary-color-dark-raspberry: hsl(332, 51%, 32%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-rose-white: hsl(330, 100%, 98%);
  --neutral-color-eggshell: hsl(30, 54%, 90%);
  --neutral-color-light-grey: hsl(30, 18%, 87%);
  --neutral-color-wenge-brown: hsl(30, 10%, 34%);
  --neutral-color-dark-charcoal: hsl(24, 5%, 18%);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--neutral-color-eggshell);
  color: var(--neutral-color-dark-charcoal);
}

strong {
  color: var(--neutral-color-dark-charcoal);
}

ul li,
ol li {
  padding-left: 1rem;
}

li::marker {
  color: var(--primary-color-nutmeg);
  font-weight: 700;
}

/* Main Content */

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.recipe-container {
  max-width: 800px;
  width: 100%;
  background: var(--neutral-color-white);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 40px 20px;
}

.recipe-header img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-info {
  padding: 20px;
}

.recipe-title {
  font-family: "Young Serif", serif;
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
}

.recipe-text {
  margin: 20px 0 20px 0;
  color: var(--neutral-color-wenge-brown);
}

.recipe-preparation {
  background-color: var(--neutral-color-rose-white);
  font-family: "Outfit", sans-serif;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 10px;
}

.recipe-preparation-title {
  font-size: 24px;
  font-family: "Young Serif", serif;
  padding-bottom: 10px;
  color: var(--primary-color-dark-raspberry);
}

.recipe-preparation-list {
  color: var(--neutral-color-wenge-brown);
}

.recipe-ingredients {
  margin-bottom: 20px;
}

.recipe-ingredients-title {
  color: var(--primary-color-nutmeg);
  font-size: 24px;
  font-family: "Young Serif", serif;
  padding-bottom: 10px;
}

.recipe-ingredients-list {
  color: var(--neutral-color-wenge-brown);
  border-bottom: 1px solid var(--neutral-color-light-grey);
  padding-bottom: 20px;
}

.recipe-instructions {
  margin-bottom: 20px;
}

.recipe-instructions-title {
  color: var(--primary-color-nutmeg);
  font-size: 24px;
  font-family: "Young Serif", serif;
  padding-bottom: 10px;
}

.recipe-instructions-list {
  color: var(--neutral-color-wenge-brown);
  border-bottom: 1px solid var(--neutral-color-light-grey);
  padding-bottom: 20px;
}

.recipe-nutrition {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recipe-nutrition-title {
  color: var(--primary-color-nutmeg);
  font-size: 24px;
  font-family: "Young Serif", serif;
  padding-bottom: 10px;
}

.recipe-nutrition-text {
  color: var(--neutral-color-wenge-brown);
  font-size: 16px;
  margin-bottom: 20px;
}

.recipe-nutrition td {
  padding: 10px 0px;
  border-bottom: 1px solid var(--neutral-color-light-grey);
}

.recipe-nutrition-values {
  color: var(--neutral-color-wenge-brown);
}

.recipe-nutrition-values .value {
  color: var(--primary-color-dark-raspberry);
  font-weight: 700;
}
