/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Global Styles */

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--Off-Black);
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

/* Main Section */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  background-color: var(--Dark-Grey);
}

.profile-avatar {
  display: flex;
  justify-content: center;
}

.profile-avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-name {
  color: var(--White);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile-location {
  color: var(--Green);
  font-size: 0.9rem;
}

.profile-bio {
  color: var(--Grey);
  font-size: 0.875rem;
}

.profile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-links a {
  color: var(--White);
  background-color: var(--Grey);
  font-size: 0.875rem;
  padding: 0.625rem;
  border-radius: 10px;
  margin: 0.625rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.profile-links a:hover {
  background-color: var(--Green);
  color: var(--Dark-Grey);
  cursor: pointer;
}

/* footer Section */
.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
