/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* CSS VARIABLES */
:root {
  /* COLORS */
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  /* FONTS */
  --Font-Family: "Manrope", serif;
  --Font-Size: 13px;
  --Font-Weight-Medium: 500;
  --Font-Weight-Bold: 700;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--Font-Family);
  font-size: var(--Font-Size);
  background-color: var(--Light-Grayish-Blue);
}
