@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* PRIMARY COLORS */
  --Light-red: hsl(0, 100%, 67%);
  --Orange-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* GRADIENT COLORS */
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
  /* NEUTRAL COLORS */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  /* TYPOGRAPHY */
  --font-size-paragraph: 18px;
  /* FONTS */
  --font-family: "Hanken Grotesk", serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  background-color: var(--Pale-blue);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.left-column {
  background-image: linear-gradient(
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  box-shadow: 1px 3px 4px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 400px;
  width: 400px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.result-title {
  color: var(--Dark-gray-blue);
  margin-top: 20px;
}

.score-value {
  color: var(--White);
  font-size: 64px;
  font-weight: 800;
}

.score-range {
  font-size: 16px;
  color: var(--Dark-gray-blue);
}

.score-rating {
  font-size: 32px;
  font-weight: 800;
  color: var(--White);
  margin-top: 20px;
}

.score-description {
  margin-top: 10px;
  width: 250px;
  text-align: center;
  color: var(--Dark-gray-blue);
}

.right-column {
  background-color: var(--White);
  border-radius: 15px;
  height: 400px;
  width: 400px;
  box-shadow: 1px 3px 4px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.summary-title {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--Dark-gray-blue);
  font-weight: 700;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.reaction {
  margin-top: 30px;
  background-color: hsla(0, 100%, 67%, 0.1);
  padding: 8px 16px;
  border-radius: 5px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.category-name {
  color: var(--Light-red);
}

.score {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  font-size: 16px;
}

.range {
  color: hsl(0, 3%, 73%);
  font-weight: 700;
  font-size: 16px;
}
