/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/

/* Global Styles */

/* Font Styles */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Colors */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Big Shoulders Display", cursive;
  font-size: 15px;
  background-color: var(--light-gray);
}

/* Common Styling to all 3 columns */
.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 100px auto;
  max-width: 1024px;
}

.column {
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-logo img {
  height: 40px;
  width: 64px;
}

.heading h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}

.info p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.bottom-content .btn {
  border-radius: 20px;
  border: none;
  height: 50px;
  width: 150px;
  text-align: center;
}

/* Specific styling to each column */

.column-left {
  background-color: var(--bright-orange);
  border-radius: 12px 0px 0px 12px;
}

.column-left,
.column-middle,
.column-right h1 {
  color: var(--white);
}

.column-left,
.column-middle,
.column-right p {
  color: var(--light-gray);
}

.column-left .btn a {
  color: var(--bright-orange);
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;
}

.column-middle {
  background-color: var(--dark-cyan);
}

.column-middle .btn a {
  color: var(--dark-cyan);
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;
}

.column-right {
  background-color: var(--very-dark-cyan);
  border-radius: 0px 12px 12px 0px;
}

.column-right .btn a {
  color: var(--very-dark-cyan);
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;
}
