/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/

/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grayish-blue);
  background-color: var(--light-gray);
}

/* Style the parent main container */

.main-grid-container {
  background-color: var(--white);
  width: 100%;
  border-radius: 7px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
}

/* Common styles for the childs top-container and bottom container */

.main-grid-top-container,
.main-grid-bottom-container {
  margin-top: 30px;
}

.main-grid-top-container,
.main-grid-bottom-container .price-grid-container,
.main-grid-bottom-container .why-us-grid-container {
  padding-left: 25px;
  padding-right: 25px;
}

/* Style the top container */

.main-grid-top-container .main-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--cyan);
  padding-top: 20px;
  padding-bottom: 15px;
}

.main-grid-top-container .main-sub-heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--bright-yellow);
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-grid-top-container .main-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayish-blue);
  padding-top: 10px;
  padding-bottom: 10px;
}
