/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/

/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grayish-blue);
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Style the parent main container */

.main-grid-container {
  background-color: var(--white);
  width: 600px;
  border-radius: 7px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

/* Common styles for the childs top and bottom containers */

.main-grid-top-container,
.main-grid-bottom-container {
  margin-top: 30px;
}

.main-grid-top-container,
.main-grid-bottom-container .price-grid-container,
.main-grid-bottom-container .why-us-grid-container {
  padding-left: 25px;
  padding-right: 25px;
}

/* Style the child top container */

.main-grid-top-container .main-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--cyan);
  padding-top: 20px;
  padding-bottom: 15px;
}

.main-grid-top-container .main-sub-heading {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--bright-yellow);
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-grid-top-container .main-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayish-blue);
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
}

/* Style the parent bottom container */

.main-grid-bottom-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 20px; */
}

/* Common styles for the childs price and why-us containers */

.main-grid-bottom-container .price-grid-container,
.main-grid-bottom-container .why-us-grid-container {
  max-width: 400px;
}

/* Style price container */

.price-grid-container {
  background-color: var(--cyan);
  padding-top: 30px;
  padding-bottom: 25px;
}

.price-grid-container .bottom-heading {
  color: var(--light-gray);
  font-size: 1.25rem;
  font-weight: 700;
}

.price-grid-container .bottom-price-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.bottom-price-wrapper .bottom-price {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--light-gray);
}

.bottom-price-wrapper .bottom-price-month {
  font-size: 1rem;
  color: var(--light-gray);
  padding-left: 10px;
}

.price-grid-container .bottom-description {
  color: var(--light-gray);
  padding-top: 10px;
}

.price-grid-container .bottom-button {
  background-color: var(--bright-yellow);
  border-radius: 5px;
  border: none;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.price-grid-container .bottom-button a {
  color: var(--light-gray);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-grid-container .bottom-button a:hover {
  background-color: var(--white);
  color: var(--grayish-blue);
}

/* Style why-us container */

.why-us-grid-container {
  background-color: var(--cyan);
  padding-top: 30px;
  padding-bottom: 25px;
}

.why-us-grid-container .bottom-heading {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--light-gray);
}

.why-us-grid-container .bottom-list-description {
  color: var(--light-gray);
  padding-top: 10px;
  max-width: 250px;
}
