/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/

/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grayish-blue);
  background-color: var(--light-gray);
}

/* Style main container & top - bottom container */

.grid-container {
  width: 100%;
  border-radius: 10px;
  margin: 80px 40px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.top-content,
.bottom-content {
  margin-top: 30px;
}

.top-content,
.bottom-content .grid-item-1,
.bottom-content .grid-item-2 {
  padding-left: 25px;
  padding-right: 25px;
}

/* Style top section */

.grid-container .top-content .heading {
  font-size: 20px;
  font-weight: 700;
  color: var(--cyan);
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

.grid-container .top-content .sub-heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--bright-yellow);
  line-height: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-container .top-content .info {
  color: var(--light-gray);
  line-height: 20px;
  padding-top: 10px;
  max-width: 300px;
}

/* Style bottom section */

.grid-container .bottom-content {
  display: block;
}

.grid-container .bottom-content .grid-item-1,
.grid-container .bottom-content .grid-item-2 {
  width: auto;
}

/* Style grid-item-1 container */

.grid-container .bottom-content .grid-item-1 {
  background-color: var(--cyan);
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-container .bottom-content .grid-item-1 .item-title,
.grid-container .bottom-content .grid-item-2 .item-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--light-gray);
}

.grid-item-1 .item-price {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.grid-item-1 .item-price span {
  font-size: 30px;
  font-weight: 700;
  padding-right: 10px;
  color: var(--light-gray);
}

.grid-item-1 .item-price p {
  color: var(--grayish-blue);
  font-size: 18px;
  padding-left: 10px;
}

.grid-item-1 .item-info {
  padding-top: 10px;
  color: var(--light-gray);
}

.grid-item-1 .item-button .btn {
  background-color: var(--bright-yellow);
  color: var(--light-gray);
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

/* Style grid-item-2 container */

.grid-container .bottom-content .grid-item-2 {
  background-color: var(--cyan);
  padding-top: 20px;
  padding-bottom: 10px;
}

.grid-item-2 .item-info {
  color: var(--light-gray);
  line-height: 20px;
  padding-top: 20px;
  max-width: 250px;
}
