/* Global Styles */

:root {
  /* Primary Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family: "Montserrat", sans-serif;
  --font-size-paragraph: 0.875rem;
  --font-size-heading: 1.5rem;
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  /* Spacing */
  --margin-paragraph: 1.25rem;
  --margin-heading: 1.5rem;
  --line-height: 1.5;

  /* Radius */
  --radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

button {
  border-width: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

p {
  margin: 0;
}

body {
  background-color: var(--cream);
  color: var(--dark-grayish-blue);
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  min-height: 100vh;
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card-container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  /* box-shadow: 0 0 0 1px var(--white); */
  border-radius: var(--radius);
  padding: 1rem;
}

.product-card-image-container img {
  width: 100%;
  height: auto;
}

.product-card-info-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.product-card-info-header .product-card-info-header-subtitle {
  font-size: var(--font-size-paragraph);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--dark-grayish-blue);
  margin: 1.25rem;
}

.product-card-info-header .product-card-info-header-title {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  color: var(--very-dark-blue);
  padding-left: 1rem;
  margin-bottom: 0.625rem;
}

.product-card-info-header .product-card-info-header-description {
  font-size: var(--font-size-paragraph);
  color: var(--dark-grayish-blue);
  padding-left: 1rem;
  margin-bottom: 0.625rem;
}

.product-card-info-footer {
  display: flex;
  justify-content: space-between;
}

.product-card-info-footer-price-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.product-card-info-footer-price {
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-heading);
  padding-left: 1rem;
}

.product-card-info-footer-price-discount {
  font-family: "Fraunces", serif;
  font-size: var(--font-size-paragraph);
  text-decoration-line: line-through;
  padding-left: 1.25rem;
}
