/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /* Primary Colors*/
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral Colors */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* Typography */
  --font-size: 15px;
  --font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--Very-Light-Gray);
}

/* Mobile Design 320px*/
@media (max-width: 320px) {
  .header {
    padding: 16px;
    text-align: center;
  }

  .header .title {
    font-size: 1.3rem;
    color: var(--Grayish-Blue);
    font-weight: 200;
  }

  .header .subtitle {
    font-size: 1.2rem;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    padding-bottom: 5px;
  }

  .header .info {
    font-size: var(--font-size);
    color: var(--Grayish-Blue);
    font-weight: 400;
    width: 300px;
  }
}

.footer p {
  font-size: 11px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}
