@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  position: fixed;
}

nav > a {
  text-decoration: none;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 64px;
  color: #226daa;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  padding: 10px;
  display: block;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li:hover {
  background-color: #226daa;
}

/* Main Header */
.main-header {
  background-image: url("../images/all.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-attachment: fixed;
  min-height: 50vw;
  padding-top: 8vh;
  text-align: center;
}

.main-header .main-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 64px;
  margin: 21px 0;
  color: #000000;
}

.main-header .sub-heading {
  line-height: 32px;
  color: #000000;
  margin: 19px 0;
  font-size: 24px;
  font-weight: 700;
}

.main-header .btns {
  display: flex;
  max-width: 26rem;
  margin: auto;
  padding-top: 55px;
}

.main-header .btns a {
  flex: 1 1 40%;
  padding: 7px 14px;
  margin: 5px;
  border-radius: 2px;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-header .btns a:hover {
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.2);
}

.main-header .btns .btn {
  background-color: #ccc;
  color: #226daa;
}

.main-header .btns .cta-btn {
  color: #fff;
  background-color: #226daa;
}

/* Sub Header */
main .sub-header h1 {
  background-color: #226daa;
  color: #ffffff;
  padding: 27px 16px;
}

main .sub-header .heading {
  font-size: 24px;
  text-align: center;
}

/* Registration Section */
.reg {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 28px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg .section-title {
  font-size: 32px;
  color: #ffffff;
}

.reg .section-subtitle {
  font-size: 16px;
  color: #ffffff;
  margin: 16px 0;
}

.reg table {
  padding: 10px;
  border: 1px solid #333333;
  border-spacing: 10px;
  background-color: #ffffff;
}

.reg table td {
  padding: 5px 10px;
}

.reg table tr + tr td {
  border-top: 1px solid;
}

.reg table td + td {
  border-left: 1px solid;
}

.reg table td[colspan] {
  text-align: center;
}

.reg table td a {
  text-decoration: none;
}

/* About Section */
.about {
  padding: 28px 15px;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .section-title {
  font-size: 24px;
  margin: 20px 0;
}

.about .paragraph-text {
  margin: 16px 0;
  font-size: 16px;
  line-height: 32px;
}

.about img {
  float: left;
  display: block;
  width: 70px;
  height: 90px;
  margin-right: 10px;
}

/* Teachers Section */
.teachers {
  padding: 28px 8px 28px 28px;
  background-color: #a4bacc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers .section-title {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  margin: 20px 0;
  text-align: center;
}

.teachers .section-subtitle {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin: 16px 0;
}

.teachers .section-subtitle span {
  color: #226dda;
  font-family: serif;
}

.teachers .teacher-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.teachers .teacher {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers .teacher img {
  width: 200px;
  height: 200px;
  margin: 0 0 20px 0;
}

.teachers .teacher .paragraph-text {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  text-align: center;
}

/* Feedback Section */
.feedback {
  background-color: #113755;
  padding: 28px 15px;
}

.feedback .section-title {
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.feedback .testimonial {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback img {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: 0 auto 10px;
}

.testimonials blockquote {
  line-height: 2;
  margin: 10px 0;
  padding: 0 10px;
  max-width: 300px;
}

.testimonials blockquote p {
  margin: 10px 0 0;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cccccc;
  padding: 28px 15px;
}

footer p {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 20px 0;
}

footer address {
  font-size: 16px;
  margin: 16px 0;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  color: #226daa;
}

/* Script lightswitch.js */
.black * {
  color: black !important;
  background: black !important;
  transition: background 200ms, color 200ms;
}

.black img {
  display: none;
}

.light {
  float: left;
  width: 70px;
  margin-right: 10px;
  cursor: pointer;
}

.black .light {
  display: inline-block;
  transform: rotate(180deg);
  opacity: 0.3;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
  }

  .main-header {
    padding-top: 16vh;
  }

  .main-header .btns {
    flex-direction: column;
  }

  .teachers .teacher-container {
    flex-direction: column;
  }

  .feedback .testimonials {
    flex-direction: column;
  }

  .testimonials blockquote {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .about img {
    float: none;
    margin: 0 auto 20px;
  }

  .reg table {
    width: 100%;
  }
}
