/*
## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
*/

/* Global Styles */

:root {
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --mainbg: hsl(215, 32%, 27%);
  --cardbg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--mainbg);
}

.nft-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--cardbg);
  width: 450px;
  padding: 25px;
  border-radius: 8px;
  margin: 50px auto;
  line-height: 26px;
}

.nft-card-header h3 {
  color: var(--white);
  font-weight: 600;
  font-size: 22px;
  margin: 20px 0 20px 0px;
  line-height: 28px;
  /* padding-bottom: 10px;
  margin-bottom: 10px; */
}

.nft-card-header h3:hover {
  color: var(--cyan);
  cursor: pointer;
}

.nft-card-header p {
  color: var(--softblue);
  font-weight: 300;
  line-height: 28px;
}

.nft-card-header .nft-card-img {
  width: 100%;
  /* position: relative; */
  border-radius: 8px;
}
